body {
    background-color: #f5f5f5;
}

.calculator {
    max-width: 300px;
    margin: 100px auto;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

button {
    margin: 3px;
}

